#mainhead {
    color:red;
    text-align: center;
}
html {
    border:5px solid red;
    padding: 20px
}
.province {
    color:red;
}
#BC {

}
.image{
  position: relative;
}

.image a{
  display: block;      
  position: absolute;
}